<header>
  <div class="header-stripe p-4"></div>
  <img [src]="'assets/images/header-logo.png'" alt="logo do piratas deposito e bar" class="w-full">
</header>

<main></main>

<footer class="font-bold">
  <div class="p-32">
    <article class="float-left">
      <img [src]="'assets/images/footer-logo.png'" alt="logo do piratas deposito e bar">
    </article>
    <article class="uppercase text-4xl text-right space-y-9">
      <h1 class="color-gold text-7xl">Peça Já!</h1>
      <address>
        <p>(21) 98268-7459</p>
        <p>@piratasdeb_penha</p>
        <p>Endereço: Rua Conde de Agrolongo, 990</p>
      </address>
    </article>
  </div>
  <div class="footer-stripe p-4"></div>
</footer>
