@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@font-face {
  font-family: 'ITC Bookman';
  src: url('/assets/fonts/itc-bookman.otf') format('opentype');
}

$brown: #462a12;
$dark-brown: #2c1a10;
$gold: #f8af31;
$red: #aa1916;
$orange: #df6213;
$white: #fdfcfe;

address {
  font-style: normal;
}

footer {
  font-family: 'Varela Round', sans-serif;
  background-color: $brown;
  color: white;
}

.color-gold {
  color: $gold;
}

.header-stripe {
  background-color: $brown;
}

.footer-stripe {
  background-color: $dark-brown;
}

.delivery {
  font-family: 'ITC Bookman';
  font-size: 4.5rem;
  color: $white;
  background-image: url('/assets/images/bg-beer.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 42.25rem;
}

.delivery p {
  margin-top: 23rem;
  margin-left: 13rem;
}

.delivery h1 text {
  fill: $white;
  font-size: 2.5rem;
}

.delivery h1 #curve {
  fill: transparent;
}

.delivery h1 #line {
  stroke: $orange;
  stroke-width: 8px;
  stroke-linecap: round;
}
.delivery h1 .gold {
  fill: $gold;
  font-size: 4rem;
}

.beer {
  font-family: 'ITC Bookman';
  font-weight: bold;
  text-transform: uppercase;
  background-image: url('/assets/images/bg-beer-list.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 60rem;
}

.beer h1 {
  color: $brown;
}

.beer .nike {
  background-image: url('/assets/images/nike.png');
  background-repeat: no-repeat;
  background-position: left 45% top 1100%;
}

.beer ul li {
  text-align: center;
  width: 25%;
  display: inline-block;
}

.beer ul li table {
  font-size: 1.5rem;
  margin: auto auto;
}

.beer ul li table th,
.beer ul li table td {
  width: 10rem;
}

.beer ul li table th {
  color: $red;
}

.beer ul li img {
  width: 50%;
  margin: 1rem auto;
}

.beer ul li h1 {
  font-size: 2rem;
  color: $brown;
}
