<header>
  <div class="header-stripe p-4"></div>
  <img
    [src]="'assets/images/header-logo.png'"
    alt="logo do piratas deposito e bar"
    class="w-full"
  />
</header>

<main>
  <section class="delivery uppercase font-bold grid grid-cols-2">
    <h1>Entrega de <span>Bebidas</span></h1>
    <p class="text-center">Região da penha e adjacências.</p>
  </section>
</main>

<footer class="font-bold">
  <div class="p-32">
    <article class="float-left">
      <img
        [src]="'assets/images/footer-logo.png'"
        alt="logo do piratas deposito e bar"
      />
    </article>
    <article class="uppercase text-4xl text-right space-y-9">
      <h1 class="color-gold text-7xl">Peça Já!</h1>
      <address>
        <a href="https://wa.me/+5521982687459">(21) 98268-7459</a><br />
        <a href="https://instagram.com/piratasdeb_penha">@piratasdeb_penha</a
        ><br />
        Endereço: Rua Conde de Agrolongo, 990<br />
      </address>
    </article>
  </div>
  <div class="footer-stripe p-4"></div>
</footer>
